/* -----------------   Carousel ----------------------- */ 
.CarouselContainer{
  margin-bottom: 30px;
}
.cover-image{
    display: flex;
    width: 100%;
    max-height: 35rem;
}
/* -----------------   CardOne ----------------------- */ 
.CardOne-Container{
    margin-top: 40px;
    justify-content: center;
    text-align: center;
    display: flex;   
}
.CardOne-Subcontainer:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 16px rgba(0, 0, 0.2);
    transition: linear 0.2s;
    color:coral ;
}





