/* -----------------   Carousel ----------------------- */ 
.CarouselContainer{
  margin-bottom: 50px;
}
.cover-image{
    display: flex;
    width: 100%;
    max-height: 35rem;
}
/* -----------------   CardOne ----------------------- */ 
.CardOne-Container{
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    display: flex;   
}
.CardOne-Subcontainer:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 16px rgba(0, 0, 0.2);
    transition: linear 0.2s;
    color:coral ;
}
@media (max-width: 390px){
  .CardOne-Container{
    margin:0px;
    padding:0px;
    padding-left:25%;
    display:block;
    float:none;
    text-align:center;  
  }  
}
/* -----------------   CardTwo ----------------------- */ 
.CardTwo-Lines{
  text-align: center; 
}
.lines-effect{
  display: inline-block;
  position: relative;
}
.lines-effect::after, .lines-effect::before{
  content: '';
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: currentColor;
  top: 0.6em;
}
.lines-effect::before{
  left: -100%;
}
.lines-effect::after{
  right: -100%;
}
.cardimage{
  display: flex;
  width: 100%;
  max-height: 10rem;
}
.card-food{
  text-align: center; 
  display: flex;
  max-height: 25rem;
  width: 80%;
  transform: translateY(-15px);
  box-shadow: 0 10px 14px rgba(0, 0, 0.5);
  color: white;
}
@media (max-width: 1200px){
  .lines-effect::after, .lines-effect::before{
    transform: scale(0);
  }  
}


