.btn-confirmar-pedido,
.btn-clear-pedido{
    border: none;
    padding: 10px 0;
    display: block;
    width: 100%;
    margin-top: 10px;
    font-family: inherit;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s ease;
}

.btn-confirmar-pedido {
    background-color: #1e1c1c;
    color: #fff;
    border-bottom-left-radius: 3px;
}
.btn-clear-pedido {
    background-color: #a90d0d;
    color: #fff;
    border-bottom-right-radius: 3px;
}

.btn-confirmar-pedido:hover {
    background-color: #383836;
}
.btn-clear-pedido:hover {
    background-color: #d12121;
    border-radius: 0;
}