.footerSection {  
   background-color: rgba(32, 28, 28, 1);
    color: #908686;
   position: absolute;
   bottom: 0;
   width: 100%;
}

.footerItems {
    position: relative;
    display: flex;
    top: 25%;
    justify-content: center;
}

.footerItems li {
    position: relative;
    list-style: none;
    margin: 0 28px;
}


.footerItems li Link {
    text-decoration: none;
}

.faBrands {
    font-size: 3rem;
    color: #222;
}

.instagramIcon,
.whatsappIcon,
.twitterIcon {
    color: #4c4747;
}

.instagramIcon:hover {
    color: orange;
}

.whatsappIcon:hover{
    color: green;
}

.twitterIcon:hover{
    color: rgb(105, 214, 250);
}

.secondCol {
    display: flex;
    justify-content: center;
}

.thirdCol {
    display: flex;
    padding-top: 1.5rem;
    flex-direction: column;
    text-align: left;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 600px) {
    .footerSection {
        padding-top: 0.5rem ;
    }

    .footerItems {
        display: flex;
        flex-direction: column;
        top: auto;

    }

    .secondCol {
        display: none;
    }
}

@media screen and (max-width: 1190px) {
    .footerItems {
        display: flex;
        flex-direction: column;
        top: auto;
        margin-top: 0.5rem;
    }

    .footerItems .faBrands{
        height: 2rem;
        padding-top: 0.5rem;
    }
    .secondCol img{
        object-fit: contain;
    }
}