* {
    margin: 0;
    padding: 0;
}

.verticalHeight {
    height: 100vh;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

.errorStyle {
    background-color: red;
    color: white;
    text-align: center;
    
}


